body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: left;
    margin-left: 20px;
    color: white;
    background-color: black;
  }

.todolink {
  margin-left: 15px;
}

.container2 {
  display: inline-block;
  width: 50%; /* Each container takes 50% width */
  padding: 5px; /* Add some padding for spacing */
  font-size: small;
}


.image {
    opacity: 1;/* Add any specific styling for the image */
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    margin-bottom: 0px;
    border: 2px ridge gray;
    border-radius: 5px;
    margin-left: 10px;
    font-size: small;
    background-color: #fff;
  }

input:hover{
  background-color: lightgreen;
}

button {
padding: 3px 10px;
margin-left: 7px;
opacity: 1;
background-color:white;
color: black;
border:gray solid 2px;
cursor: pointer;
border-radius: 6px;
}

button:hover {
    background-color:  lightgreen;
    opacity: 1;
    border: black solid 2px;
    color: black;
}

.container {
  
  align-items: center;
  margin-left: 0px;
  margin-bottom: 20px;
}

.small-text {
    font-size: smaller; /* You can adjust the size as needed */
    margin-top: 8px;
  }
  
  /* Define CSS styles for table borders and cell sizing */
  table {
    display: none; /* Initially hide the table */
    border-collapse: collapse; /* Collapse border spacing */
    table-layout: auto; /* Allow cells to size based on content */
  }

  
  td {
    /*border: 2px ridge white; /* Add 1px solid black border to table, th, and td elements */
    padding: 4px; /* Add padding to table cells */
    width: 120px; /* Set a fixed width for the table cells */
    text-align: left; /* Center align the content within cells */
  }
  
  /* Style for even rows */
  th {
    padding: 4px;
    /*border: 2px ridge white; /* Add 1px solid black border to table, th, and td elements */
    text-align: left; /* Center align the content within cells */
    font-size: small;
    
  }

.checkboxLabel {
  display: none;
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 9px;
  opacity: 0.7;
  font-size: medium;
}

#resultsHeading {
  margin-bottom: 5px;
  margin-top: 15px;
}

#resultsHeading2 {
  margin-bottom: 5px;
}
#checkboxWrapper {
  display: inline-block;
  margin-bottom: 15px;
}

.scotland {
  color:white;
  font-size: small;
}


.row1:hover {
  background-color: lightgray;
  color: black;
}
